test.php
evn.php
deploy
node_modules/
log/
bin/
.vscode/
clinerules-bank/
rector/Rules/
Makefile
.env
*.bak
CHANGES.md
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
.aider*
.DS_Store
export_docs.sh
exported_all_docs.md
.clinerules
rector.php